<form
  method="post"
  action="/collection/{{_id}}/edit"
  id="create-collection-form"
>
  <label for="name">Title
    <input
      type="text"
      name="name"
      placeholder="Collection Title"
      value="{{name}}"
    />
  </label>
  <label for="description">Description
    <textarea
      form="create-collection-form"
      name="description"
      id="taid"
      cols="35"
      wrap="soft"
    >{{description}}</textarea>
  </label>
  <label for="isTodoList">Is it a Todolist?
    <input type="checkbox" name="isTodoList" {{#if isTodoList}} checked="true" {{/if}} />
  </label>

  <button type="submit">Update Collection</button>
</form>
<a href="/collection/{{_id}}/delete">Delete Collection</a>