<main id="profile">
  <h1>Hello there, {{username}} ☺</h1>
  <ul>
    <li><a href="/profile/update-username">Change Username</a></li>
    <li><a href="/profile/update-password">Change Password</a></li>
    <li><a href="/profile/delete-user">Delete Account</a></li>
  </ul>
</main>