<main id="profile">
  <form action="/profile/update-username" method="post">
    <label>
      Username
      <input type="text" name="newUsername" value="{{username}}" />
    </label>
    <label>
      Confirm Username
      <input type="text" name="confirmNewUsername" value="" />
    </label>
    <button type="submit">Change Username</button>
  </form>
  {{#if errorMessage}}
    {{errorMessage}}
  {{/if}}
</main>