<main id="profile">
  <h1><a href="/profile/" class="inline">&#8592;</a> Change Password</h1>
  <form action="/profile/update-password" method="post">
    <label>
      Current Password
      <input type="password" name="currentPassword" />
    </label>
    <label>
      New Password
      <input type="password" name="newPassword" />
    </label>
    <label>
      Confirm Password
      <input type="password" name="confirmNewPassword" />
    </label>
    <button type="submit">Save Changes</button>
  </form>
  {{#if errorMessage}}
    {{errorMessage}}
  {{/if}}
</main>