<main id="profile">
  <h1><a href="/profile/" class="inline">&#8592;</a> Change Username</h1>
  <form action="/profile/update-username" method="post">
    <label>
      Username
      <input type="text" name="newUsername" value="{{username}}" />
    </label>
    <label>
      Confirm Username
      <input type="text" name="confirmNewUsername" value="" />
    </label>
    <button type="submit">Save Changes</button>
  </form>
  {{#if errorMessage}}
    {{errorMessage}}
  {{/if}}
</main>