<form action="/profile/update-password" method="post">
  <label>
    Current Password
    <input type="password" name="currentPassword" />
  </label>
  <label>
    New Password
    <input type="password" name="newPassword" />
  </label>
  <label>
    Confirm Password
    <input type="password" name="confirmNewPassword" />
  </label>
  <button type="submit">Change Password</button>
</form>
{{#if errorMessage}}
  {{errorMessage}}
{{/if}}