<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <ul class="nav-links">
        {{! If there is a user i want to display that you can add books }}
        {{! If there is NO user i want to display Login and Register }}
        {{#if isLoggedIn}}
          <li>
            <a href="/settings">Settings</a>
          </li>
          <li>
            <a href="/auth/logout">Logout</a>
          </li>
        {{else}}
          <li>
            <a href="/auth/login">Login</a>
          </li>
          <li>
            <a href="/auth/signup">Sign Up</a>
          </li>
        {{/if}}
      </ul>
    </nav>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>