/************** RESET CSS **************/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

/************** TYPOGRAPHY **************/

@font-face {
  font-family: "Sligoil";
  src: url("../fonts/Sligoil-Micro.woff2") format("woff2"),
    url("../fonts/Sligoil-Micro.woff") format("woff");
}

/************** VARS **************/

:root {
  --primary-color-light: #4e00ff;
  /* colors under construction */
  --primary-color-dark: #261d3c;
}

/************** GLOBAL **************/

body {
  padding: 50px;
  font: 14px "Sligoil", Helvetica, Arial, sans-serif;
  color: var(--primary-color);
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
