/************** RESET CSS **************/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

/************** TYPOGRAPHY **************/

@font-face {
  font-family: "Sligoil";
  src: url("../fonts/Sligoil-Micro.woff2") format("woff2"),
    url("../fonts/Sligoil-Micro.woff") format("woff");
}

/************** VARS **************/

:root {
}

body {
  --text-color: #4e00ff;
  --bkg-color: #fefff9;
  --acc-color: #000000;
}
body.dark-theme {
  --text-color: #fefff9;
  --bkg-color: #261d3c;
  --acc-color: #000000;
}

/************** GLOBAL **************/

body {
  font: 14px "Sligoil", Helvetica, Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--bkg-color);
  padding: 1rem;
}

/************** NAV **************/

nav {
  display: flex;
  justify-content: space-between;
}

.nav--logo {
  font-size: 2rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  font-size: 1.125rem;
}

nav ul li {
  /* color: var(--bkg-color);
  background-color: var(--text-color); */
  -webkit-box-shadow: 0px 0.35em 0.6em 0px var(--text-color);
  box-shadow: 0px 0.35em 0.6em 0px var(--text-color);
  border-radius: 100vh;
}

nav ul li a {
  padding: 0.5em 1.25em;
}
